# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# PyTorch
*.pt
*.pth

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data
data/
oxford-pets/

# System files
.DS_Store
Thumbs.db
